<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="REST Client"
            id="rc-tool">
      </category>
      <view
            name="RestClient Tool"
            icon="icons/logo.gif"
            category="rc-tool"
            class="code.google.restclient.eclipse.views.LaunchView"
            id="code.google.restclient.eclipse.views.LaunchView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="code.google.restclient.eclipse.views.LaunchView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
